<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.core.idao.ArticleReplyMapper">

	<resultMap id="BaseResultMapAll" type="ssm.core.entity.ArticleReply">
		<id column="id" property="id" />
		<result column="add_time" property="addTime" />
		<result column="state" property="state" />
		<result column="article_id" property="articleId" />
		<result column="reply_user" property="replyUser" />
		<result column="reply_to_id" property="replyToId" />
		<result column="reply_to_user" property="replyToUser" />
		<result column="content" property="content" />
	</resultMap>

	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMapAll">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from onethink_reply
		where id = #{id}
	</select>

	<select id="selectArticleReplies" parameterType="java.lang.Integer"
		resultMap="BaseResultMapAll">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from onethink_reply
		where article_id = #{articleId}
	</select>

</mapper>